html,
div,
body, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-color: #808080; }
  @media only screen and (max-width: 290px) {
    body {
      display: none; } }

.overall_section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FFFFFF;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh; }

header {
  background-color: #DDDDDD; }

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1000px;
  padding: 0 10px 0 10px;
  margin: 0 auto; }
  @media only screen and (max-width: 651px) {
    .header_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.header_element_left {
  padding-top: 45px;
  padding-bottom: 65px; }
  @media only screen and (max-width: 651px) {
    .header_element_left {
      padding-bottom: 0; } }
  .header_element_left div {
    margin-top: 20px;
    width: 273px;
    height: 100px; }
    @media only screen and (max-width: 651px) {
      .header_element_left div {
        margin: 0 auto; } }

.header_element_right {
  color: #767676;
  padding-top: 45px;
  text-align: right; }
  @media only screen and (max-width: 651px) {
    .header_element_right {
      text-align: center; } }
  .header_element_right div {
    font-size: 40px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.15;
    letter-spacing: 1px; }
    @media only screen and (max-width: 380px) {
      .header_element_right div {
        font-size: 25px; } }
  .header_element_right p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.92;
    letter-spacing: 0.6px;
    border-bottom: 2px dashed #767676;
    height: 40px;
    width: 200px;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 651px) {
      .header_element_right p {
        margin: 10px auto; } }
    @media only screen and (max-width: 380px) {
      .header_element_right p {
        font-size: 18px;
        text-align: center;
        width: 147px;
        height: 32px; } }

.feedback_link {
  text-align: right;
  padding-left: 153px; }
  @media only screen and (max-width: 651px) {
    .feedback_link {
      padding-left: 0; } }

.menu {
  margin: 0;
  padding: 0 10px;
  background-color: #777777;
  padding-top: 26px;
  padding-bottom: 27px;
  text-align: center; }

.menu_contant {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 0.8px; }
  @media only screen and (max-width: 500px) {
    .menu_contant {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (max-width: 982px) {
    .menu_contant div {
      font-size: 20px; } }
  @media only screen and (max-width: 750px) {
    .menu_contant div {
      font-size: 16px; } }
  @media only screen and (max-width: 500px) {
    .menu_contant div {
      font-size: 25px;
      margin: 10px auto;
      border-color: #777777; } }
  .menu_contant a {
    color: #FFFFFF; }

.menu_element {
  margin: 0 7px;
  border-right: 2px solid #FFFFFF;
  padding-right: 14px; }
  @media only screen and (max-width: 500px) {
    .menu_element {
      padding: 0; } }

.slider {
  position: relative;
  background-color: #F8F8F8;
  height: 400px; }
  @media only screen and (max-width: 1250px) {
    .slider {
      display: none; } }

.slider_content {
  height: 400px;
  width: 1248px;
  margin: 0 auto; }

.arrows {
  position: absolute;
  width: 954px;
  top: 155px;
  padding: 0 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .arrows img {
    cursor: pointer; }

.catalog {
  background-color: #FFFFFF;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px; }

.catalog_navigation {
  max-width: 1020px;
  margin: 0 auto; }

.navigation_content {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 26px; }
  .navigation_content div {
    margin: 0 10px;
    font-weight: bold;
    color: #767676; }
    @media only screen and (max-width: 380px) {
      .navigation_content div {
        text-align: center; } }

.catalog_nav_element {
  cursor: pointer;
  text-decoration: underline; }

.catalog_nav_element_3 {
  text-decoration: none; }

.slash {
  text-decoration: none; }
  @media only screen and (max-width: 380px) {
    .slash {
      display: none; } }

.catalog_content {
  max-width: 1020px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1035px) {
    .catalog_content {
      max-width: 755px; } }
  @media only screen and (max-width: 755px) {
    .catalog_content {
      max-width: 470px; } }
  @media only screen and (max-width: 500px) {
    .catalog_content {
      max-width: 280px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.catalog_leftblock {
  margin-right: 7px;
  padding-top: 15px; }
  @media only screen and (max-width: 500px) {
    .catalog_leftblock {
      margin: 0 auto; } }
  .catalog_leftblock div {
    min-width: 178px;
    color: #767676;
    font-size: 16px; }
    .catalog_leftblock div p {
      cursor: pointer; }
    .catalog_leftblock div ul {
      font-size: 12px;
      margin-left: -15px; }
      .catalog_leftblock div ul li {
        cursor: pointer; }

.submenu {
  display: none; }

.centralblock_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (max-width: 980px) {
    .centralblock_content {
      max-width: 545px; } }

.element_centerblock {
  width: 250px;
  height: 380px;
  background-color: #DDDDDD;
  margin-left: 15px;
  margin-top: 15px; }
  .element_centerblock div {
    width: 210px;
    height: 209px;
    background-color: #FFFFFF;
    margin: 21px; }

p[class="product_name"] {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: left;
  color: #767676;
  margin-top: 21px;
  width: 210px;
  height: 35px; }

p[class="price"] {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.64;
  letter-spacing: 0.7px;
  text-align: left;
  color: #444444;
  margin-top: 35px;
  margin-bottom: 0;
  float: left; }

img[alt="addtobasket_mini"] {
  margin-top: 37px;
  margin-left: 65px;
  cursor: pointer; }

.exel_price {
  margin-top: 110px; }
  .exel_price img {
    margin-left: 33px; }
  .exel_price p {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.83;
    letter-spacing: 0.8px;
    text-align: center;
    color: #444444; }

.number_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 10.2px;
  color: #444444;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 57px; }
  .number_page p {
    margin: 10px; }
    .number_page p a {
      color: #767676;
      text-decoration: none; }

.about_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.57;
  letter-spacing: 0.4px;
  text-align: left;
  color: #767676;
  margin-bottom: 125px; }
  @media only screen and (max-width: 1035px) {
    .about_company {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 430px) {
    .about_company {
      margin-bottom: 50px; } }
  .about_company div {
    max-width: 371px; }

.github_link {
  text-align: right;
  font-style: italic;
  font-size: 12px; }
  .github_link a {
    color: brown;
    text-decoration: none; }
  .github_link a:hover {
    color: red;
    text-decoration: underline; }

.validator_css {
  text-align: right; }

.hr {
  background-color: #767676;
  height: 1px;
  margin: 20px; }

footer {
  background-color: #787878; }

.footer_container {
  padding-bottom: 50px;
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 1035px) {
    .footer_container {
      padding: 0 20px 50px; } }
  @media only screen and (max-width: 700px) {
    .footer_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer_container_element {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 300px;
  padding-top: 45px; }
  @media only screen and (max-width: 700px) {
    .footer_container_element {
      max-width: 100%;
      text-align: center;
      padding-top: 30px; } }
  .footer_container_element p {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff; }
    @media only screen and (max-width: 700px) {
      .footer_container_element p {
        display: inline;
        margin: 10px; } }
    .footer_container_element p span {
      text-decoration: underline;
      cursor: pointer; }

#footer_element_2 {
  padding: 15px; }
  @media only screen and (max-width: 430px) {
    #footer_element_2 div {
      width: 140px;
      margin: auto; }
      #footer_element_2 div p {
        display: block; } }

.footer_element_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 700px) {
    .footer_element_3 {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  .footer_element_3 img {
    margin-top: 5px;
    margin-right: 7px; }

#feedback_position {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: none; }

#feedback_overall_window {
  max-width: 520px;
  margin: 20% auto; }
  @media only screen and (max-width: 540px) {
    #feedback_overall_window {
      width: 388px; } }
  @media only screen and (max-width: 381px) {
    #feedback_overall_window {
      width: 308px; } }

.feedback_close_button {
  width: 27px;
  height: 27px;
  background-color: #787878;
  margin-left: 493px;
  cursor: pointer; }
  .feedback_close_button img {
    margin: 6px; }
  @media only screen and (max-width: 540px) {
    .feedback_close_button {
      margin-left: 361px; } }
  @media only screen and (max-width: 380px) {
    .feedback_close_button {
      margin-left: 281px; } }

.feedback_close_button:hover {
  background-color: red; }

.feedback_window {
  background-color: #ffffff;
  margin: 0 27px 27px 27px;
  text-align: center;
  padding-top: 35px; }
  .feedback_window h2 {
    font-size: 24px;
    font-weight: bold;
    color: #535353;
    margin-bottom: 35px; }

button[type="button"] {
  margin-top: 3px;
  margin-bottom: 26px;
  width: 128px;
  height: 42px;
  font-size: 17.8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #787878;
  cursor: pointer; }

button[type="button"]:hover {
  background-color: azure;
  color: cadetblue; }

button[type="button"]:active {
  border-color: red; }

input[type="text"] {
  height: 40px;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
  width: 339px; }
  @media only screen and (max-width: 540px) {
    input[type="text"] {
      width: 280px; } }
  @media only screen and (max-width: 380px) {
    input[type="text"] {
      width: 200px; } }

#message_of {
  width: 339px;
  height: 140px; }
  @media only screen and (max-width: 540px) {
    #message_of {
      width: 280px; } }
  @media only screen and (max-width: 380px) {
    #message_of {
      width: 200px; } }

.form_marker {
  margin-bottom: 0;
  font-size: 12px;
  color: #535353; }

.blank_field_none {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.75);
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.75);
  border: solid 1px #ff8383;
  font-style: italic; }

.blank_field {
  background-color: #E2FCEB;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: darkgreen; }

blank_field_temp {
  -webkit-box-shadow: none;
  box-shadow: none; }

section {
  display: none;
  background-color: aliceblue;
  text-align: center;
  max-width: 70%;
  padding: 50px;
  margin: 10% auto; }
  section div[class="browser_img"] div {
    display: inline-block;
    margin: 10px; }
  section table {
    margin: 50px auto; }
  section h1 {
    font-size: 24px;
    margin: 20px; }
  section p {
    font-size: 18px; }
  section tr a {
    font-size: 18px;
    margin: 20px; }
